.navbar-custom{
    background-color: #667782;
    color: white;
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
}

body {
    background-color: #d1d3d4;
}

form {
    padding-top: 20px;
    padding-left: 40px;
    padding-right: 40px;
}

.resultInch {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    flex-wrap: wrap;
    margin-bottom: 0;
    margin-top: 1em;
}

.resultCM {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30px; /* Set the fixed height of the footer here */
    line-height: 30px; /* Vertically center the text there */
  }